/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Author-Light';
  src: url('../fonts/Author-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

.author-light {
  font-family: 'Author-Light';
}

/* @font-face {
  font-family: 'Regular';
  src: url('../fonts/Author-Regular.woff2') format('woff2'),
       url('../fonts/Author-Regular.woff') format('woff'),
       url('../fonts/Author-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
} */
/* 
@font-face {
  font-family: 'Medium';
  src: url('../fonts/Author-Medium.woff2') format('woff2'),
       url('../fonts/Author-Medium.woff') format('woff'),
       url('../fonts/Author-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('../fonts/Author-Bold.woff2') format('woff2'),
       url('../fonts/Author-Bold.woff') format('woff'),
       url('../fonts/Author-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
} */
/* 
.Bold {
  font-family: Bold;
} */